# ============================
# APP
# ============================
PORT=3000
JWT_SECRET=tu_secreto_jwt_aqui

# ============================
# FIREBASE ADMIN SDK
# ============================
FIREBASE_PROJECT_ID=tu-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@tu-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# ============================
# SENDGRID
# ============================
SENDGRID_API_KEY=SG.xxxxxxxxxx
SENDGRID_FROM_EMAIL=tu@email.com

# ============================
# ALGOLIA
# ============================
ALGOLIA_APP_ID=C0TXIMOY6O
ALGOLIA_API_KEY=c306cef60a256e34150ec05519e0202e
ALGOLIA_SEARCH_KEY=Tced375a9db6be1231d0b5373bfabc6cd
ALGOLIA_INDEX_NAME=products

# ============================
# MERCADO PAGO
# ============================
# Usar el Access Token del usuario VENDEDOR de prueba
MP_ACCESS_TOKEN=TEST-8380300230702460-032011-f950bf533597fe3867fc6ac0a2f7949b-47078141

# ============================
# ADMIN (para notificaciones internas)
# ============================
ADMIN_EMAIL=admin@tutienda.com

# ============================
# URL base (para IPN callback)
# ============================
BASE_URL=http://localhost:3000
