# Dependencies
node_modules/

# Environment variables (NUNCA subir al repo)
.env

# Build output
dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo
